[user]
	name = Paul Chubatyy
	email = xobb@citylance.biz
[color]
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	tool = kdiff3
[diff]
	tool = kdiff3
[alias]
	hist = log --graph --pretty=format:'%Cred%h%Creset %Cgreen[%ad]%Creset %C(yellow)%d%Creset%s %C(bold blue)<%an>%Creset' --abbrev-commit --date=local
[core]
	editor = vim
	excludesfile = ~/.gitignore
[branch]
	autosetuprebase = always
[push]
	default = simple
[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[help]
     autocorrect = 1

[includeIf "gitdir:~/src/vi/"]
    path = ~/src/vi/.gitconfig
